footer.footer
  .footer-line
  .container
    .footer-wrapper
      .left-bloc
        .footer-logo DREAMSHARE
        .footer-company
          h4.footer-company__title Company
          .footer-company__items
            .footer-company__items__item About
            .footer-company__items__item Contact
            .footer-company__items__item Press
            .footer-company__items__item Blog
            .footer-company__items__item Terms and Privacy
            .footer-company__items__item Help
        .footer-partners
          h4.footer-partners__title Partners
      .right-bloc
        p DESIGNED BY
        .footer-img