header.header
  .container
    nav.nav
      a.nav__logo(href='#') DREAMSHARE
      .nav__buttons
        button.nav__buttons__login Log in
        button.nav__buttons__signup Sign up
    .header-discr
      h1.title SHARE YOUR HOLIDAY DREAM
      p.text And find the perfect partner to fullfill it
      button.header-button Find your holiday partner